RewriteEngine On

# Исключение для статических файлов
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteBase /ilab/mscard/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]